body {
  background-color: #f0eeed;
}
button {
  position: relative;
  padding: 2em;
  background: transparent;
  transition: background .3s;
  border: none;
  margin: 1em;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}


button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

img {
  /* Place the icon on the text baseline. */
  position: relative;
  display: block;
max-height: 50px;
background-color: transparent;

  /* Prevent the icon from shrinking inside a flex container. */
  flex-shrink: 0;

  /* Scale the icon to match the font-size of the parent element. */
  /* height: 1em;
  width: 1em; */

  /* Let the icon take whatever color the parent has. */
  fill: currentColor;

  /*
   * If the icon is used on a link, which has a color transition,
   * we can also use a transition on the fill value.
  */
 transition: fill .3s;
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: center;
  background-color: #f0eeed;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: center;
}

.counterContainer {
  background: rgb(254,199,108);
  background: linear-gradient(31deg, rgba(254,199,108,1) 0%, rgba(203,255,87,1) 100%); 
  min-width: 280px;
  min-height: 280px;
  padding: 15px;
  border-radius: 64px;
  border: 15px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.counterContainer p {
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 5.5em;
  text-align: center;
}


.reset-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: center;
}

.flip {
  transform: rotate(180deg);
}